<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="T24DWH" connectionString="Data Source=192.168.1.4;Initial Catalog=T24_DataWareHouse;Persist Security Info=True;User ID=itamim;Password=Sa123456"
            providerName="System.Data.SqlClient" />
      <add name="CRMMYSQL" connectionString="SERVER=192.168.4.139;DATABASE=vtigercrm540;USERID=root;PASSWORD=systemdba;Port=3306;" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>